<!DOCTYPE html>

<html ng-app="storiesApp">
<head lang="en">
    <!-- #METADATA -->
    <title>JustBecauseCard.com | Sometimes people do kind things for each other. Just because.</title>
    
    <!-- Character Encoding -->
    <meta charset="utf-8"/>
    
    <!-- Mobile Scaling -->
    <meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Stop Browser Formatting -->
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    
    <!-- Disable Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- JAVASCRIPT -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="scripts/app.js"></script>

    <!-- Hotjar Tracking Code for http://justbecausecard.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:346640,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>

<body ng-controller="StoriesController" ng-class="{ 'locked' : screenLock }">
    <div class="modal content-wrapper ng-hide" ng-show="showModal"> 
        <!-- VIDEO MODAL -->
        <ng-include class="flex-section one-whole" ng-hide="showModalForm" src="template"></ng-include>
        
        <!-- FORM MODAL -->
        <div id="form" class="flex-section one-whole" ng-show="showModalForm">
            <script type="text/javascript" src="https://ccchapel.formstack.com/forms/js.php/just_because_card?nojquery=1&nojqueryui=1&nomodernizr=1&no_style=1&no_style_strict=1"></script>
            <script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
        </div>

        <div class="modal-close" ng-click="closeModal($event)">
            <i class="fa fa-times fa-2x"></i>
        </div>
    </div>
    <div class="parallax">
        <div class="video parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="flex-section vertical">
                    <nav class="nav-icons portable--hide">
                        <ul>
                            <li>
                                <a href="#stories" target="_self"><img class="nav-icon" src="images/icons/stories.svg" alt="Stories" /></a>
                            </li>
                            
                            <li>
                                <a href="#social" target="_self"><img class="nav-icon" src="images/icons/social.svg" alt="Social" /></a>
                            </li>
                            
                            <li>
                                <a href="#why" target="_self"><img class="nav-icon" src="images/icons/why.svg" alt="Why" /></a>
                            </li>
                        </ul>
                    </nav>

                    <img class="logo" src="images/logo.svg" alt="Just Because" />

                    <div class="play-button flex-section vertical center" ng-click="showVideo('https://player.vimeo.com/video/192021514?autoplay=1')">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 216 216" style="enable-background:new 0 0 216 216;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#831C54;}
                        </style>
                        <g>
                            <path class="st0" d="M150.5,110.7c-10.9,6.6-20.9,12.8-31,18.8c-1.8,1.1-3.7,2.1-5.6,3c-6.5,3.2-12.7,6.9-18.4,11.4
                                c-2.6,2-5.4,3.9-8.3,5.4c-2.9,1.5-6.3-0.6-6.6-3.9c-0.2-1.5-0.1-3,0.2-4.5c2.4-12.2,1.6-24.6,1.8-37c0.1-6.9,0.6-13.8,0.8-20.8
                                c0.1-3,0.1-6,0.1-9c0-2.7,2-4.5,4.6-4.1c1.5,0.2,3,0.7,4.3,1.4c6.4,3.4,12.9,6.7,19,10.5c10.2,6.4,20.8,12,31.3,17.8
                                c2.1,1.2,4.2,2.4,6.1,3.8C151.2,105.5,151.8,108.1,150.5,110.7z"/>
                            <path class="st0" d="M103.3,199.8c-61.7-0.3-96.4-52-75-104.6c3.3-8.2,5.7-16.8,9.2-25c3.4-8.1,7.3-16.1,11.7-23.7
                                c6.6-11.3,16.8-18.7,29.3-22.2c9.9-2.8,20-5.6,30.2-6.9c21.6-2.7,41,4.3,58.2,16.9c12.5,9.1,18.4,22.7,22.8,37.1
                                c15.3,49.4-11.6,93.8-43.1,113.9C131.8,194.7,115.6,199.2,103.3,199.8z M95.7,183.2c14.4,0.2,28.3-2.8,40-11.1
                                c20-14.3,33.3-33.8,39-57.7c4.1-17.2,1.4-34.4-6.9-49.6c-8.9-16.4-23.7-29.1-42.6-27.9c-20.6,1.3-43.7,0.2-59,19.4
                                c-2.3,2.9-4.7,5.9-6.1,9.3c-6.3,15.8-14,31.3-18,47.7C35.5,141.6,48.7,182.5,95.7,183.2z"/>
                        </g>
                        </svg>
                        <!--<a href="#"><img src="images/groups/video/play-button.svg" alt=""></a>-->
                    </div>
                </div>
            </div>

            <div class="parallax__layer parallax__layer--back">
                <video autoplay loop muted preload class="object-cover portable--hide">
                    <source class="object-cover" src="video/header.mp4" type="video/mp4">
                </video>

                <img class="object-cover static-image desk--hide" src="{{randomMobileImage()}}" />
            </div>
        </div>

        <a name="stories"></a>
        <div class="parallax__group">
            <div class="stories parallax__layer parallax__layer--base">
                <div class="flex-section palm--stack reverse content-wrapper">
                    <div class="one-half portable--one-whole">
                        <div class="stories__cards content-wrapper flex-section wrap no-gutter">
                            <div class="one-whole" ng-repeat="story in stories | filter : { 'published' : 'True' } | limitTo: 3">
                                <div class="flip-container">
                                    <div class="flipper stories__card"  ng-class="{ 'green' : $index % 3 == 0, 'white' : $index % 3 == 1, 'blue' : $index % 3 == 2 }" ng-click="showStory(story.id , $index)">
                                        <div class="front">
                                            <div class="large-text bold uppercase">{{story.name}}</div>
                                            <div class="small-text uppercase text-black">From {{story.location}}</div>
                                            <div class="small-text limit-text text-black" ng-bind-html="story.story | removeHtml"></div>
                                        </div>

                                        <div class="back">
                                            <div class="flex-section">
                                                <div class="one-whole center">
                                                    Read the whole story
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="cta normal-text" href="stories.htm">Read More</a>
                            
                            <!--<div class="square ratio2_1 one-whole add-bottom-margin">
                                <div class="stories__card white full-height">
                                    <div class="large-text bold uppercase">Story 1</div>

                                    <div class="small-text uppercase text-black">From {NAME}</div>
                                </div>
                            </div>

                            <div class="square one-half">
                                <div class="stories__card green">
                                    <div class="large-text bold uppercase">Story 2</div>
                                    <div class="small-text uppercase text-black">From {NAME}</div>
                                </div>
                            </div>

                            <div class="square one-half">
                                <div class="stories__card blue">
                                    <div class="large-text bold uppercase">Story 3</div>
                                    <div class="small-text uppercase text-black">From {NAME}</div>
                                </div>
                            </div>-->
                        </div>
                    </div>
        
                    <div class="one-half portable--one-whole">
                        <div class="group-title">
                            <img class="one-whole" src="images/groups/stories/title.svg" alt="Stories" />
                        </div>

                        <p class="large-text bold">
                            Sometimes people do kind things for each other. Just because.
                        </p>

                        <p class="normal-text">
                            Read on to check out some of the random acts of kindness floating around Northeast Ohio. 
                            Were you on the receiving end of generosity? We want to hear about it!
                        </p>

                        <a class="show-modal cta normal-text" href="javascript:void()" ng-click="showForm()">Share Yours</a>
                    </div>
                </div>
            </div>
        </div>

        <a name="social"></a>
        <div class="parallax__group">
            <div class="social parallax__layer parallax__layer--base">
                <div class="flex-section palm--stack content-wrapper">
                    <div class="one-half portable--one-whole">
                        <div class="group-title">
                            <img class="one-whole" src="images/groups/social/title.svg" alt="Social" />
                            
                            <div class="flex-section two-thirds palm--one-whole center-by-margin add-bottom-margin">
                                <div class="one-third">
                                    <a href="https://www.facebook.com/" target="_blank"><img src="images/icons/facebook.svg" alt="" /></a>
                                </div>
                                <div class="one-third">
                                    <a href="https://twitter.com/intent/tweet?url=%23JustBecauseCard" target="_blank"><img src="images/icons/twitter.svg" alt="" /></a>
                                </div>
                                <div class="one-third">
                                    <a href="https://instagram.com/" target="_blank"><img src="images/icons/instagram.svg" alt="" /></a>
                                </div>
                            </div>
                        </div>

                        <p class="normal-text">
                            Tweet, post or share your story on how someone brightened your day. Just use
                        </p>

                        <p class="large-text portable--normal-text bold uppercase">#JustBecauseCard</p>
                    </div>
                    
                    <div class="one-half portable--one-whole">
                        <div 
                            class="tagboard-embed" 
                            tgb-slug="justbecausecard/327711" 
                            tgb-layout="grid" 
                            tgb-feed-type="auto" 
                            tgb-post-count="4" 
                            tgb-mobile-count="4" 
                            tgb-toolbar="none" 
                            tgb-animation-type="default" 
                            tgb-hashtag-color="831c54 "
                            tgb-font-color="363636"></div>
                        <script src="https://static.tagboard.com/public/js/embedAdvanced.js"></script>
                    </div>
                </div>
            </div>          
        </div>

        <a name="why"></a>
        <div class="parallax__group">
            <div class="why parallax__layer parallax__layer--base">
                <div class="flex-section content-wrapper lock-width center-by-margin">
                    <div class="one-whole">
                        <p class="large-text bold uppercase">Why</p>

                        <p class="normal-text">
                            <span class="bold">The Cause</span><br />
                            We believe God loves us &ndash; all of us.
                        </p>
 
                        <p class="normal-text">
                            <span class="bold">The Effect</span><br />
                            For those of us who believe in him, it becomes tangible. An understanding of God&rsquo;s 
                            love compels us to act. God doesn&rsquo;t withhold his affection from anyone, despite how 
                            you may feel, act or what you think of him. It&rsquo;s the same for us &ndash; we want to, have 
                            to, show you that you&rsquo;re known, loved and cared for, just because God made people that way.
                        </p>

                        <p>
                            <a class="cta normal-text text-black" href="https://ccchapel.com">Who We Are</a>                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="video">
        <iframe 
            src="https://player.vimeo.com/video/192021514?autoplay=1" 
            style="width: 100%; height:100%;"
            frameborder="0" 
            webkitallowfullscreen 
            mozallowfullscreen 
            allowfullscreen></iframe>
    </script>

    <!--<script type="text/ng-template" id="form">
        <script type="text/javascript" src="https://ccchapel.formstack.com/forms/js.php/just_because_card?nojquery=1&nojqueryui=1&nomodernizr=1&no_style=1&no_style_strict=1"></script>
        <script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
    </scirpt>-->

    <script type="text/ng-template" id="story">
        <div class="stories__card content-wrapper lock-width one-whole center-by-margin" ng-class="{ 'green' : selectedColorIndex % 3 == 0, 'white' : selectedColorIndex % 3 == 1, 'blue' : selectedColorIndex % 3 == 2 }">
            <div class="small-text text-black add-bottom-margin" ng-bind-html="stories[selectedStoryID].story | html"></div>

            <div class="right-justify">
                <div class="large-text bold uppercase">&ndash; {{stories[selectedStoryID].name}}</div>
                <div class="small-text text-black uppercase">From {{stories[selectedStoryID].location}}</div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="empty">
    </script>

    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88014584-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html> 