<!--<ul>
    <li ng-repeat="story in $ctrl.stories">
        <div>{{story.name}}</div>
        <div>{{story.location}}</div>
        <div>{{story.story}}</div>
    </li>
</ul>-->

<!--<div class="square ratio2_1 one-whole add-bottom-margin">
    <div class="stories__card white full-height">
        <div class="large-text bold uppercase">Story 1</div>

        <div class="small-text uppercase text-black">From {NAME}</div>
        <stories-list></stories-list>
    </div>
</div>-->

<div ng-repeat="story in $ctrl.stories | filter : { 'published' : 'True' }">
    <!--<div class="square one-half">-->
    <div class="">
        <!--<div class="stories__card green">-->
        <div class="green" data-storyID="{{story.id}}">
            <div class="large-text bold uppercase">{{story.name}}</div>
            <div class="small-text uppercase text-black">From {{story.location}}</div>
            <div class="small-text limit-text text-black">{{story.story}}</div>
        </div>
    </div>
</div>