//Branding
// $purple: rgb(131, 28, 84);
// $blue: rgb(100, 197, 219);
// $green: rgb(168,200, 55);
// $yellow: rgb(232, 227, 154);
$yellow: rgb(220, 210, 135);
$blue: rgb(119, 206, 218);
$pink: rgb(224, 105, 80);
$white: rgb(255, 255, 255);
$gray: rgb(235, 235, 235);
$grey: $gray;
$black: rgb(54, 54, 54);
$dk-gray: rgb(54, 66, 66);
$dk-grey: $dk-gray;

$font-sans-serif: Raleway, Calibri, Arial, sans serif;
$font-size-large: 36px;
$font-size-normal: 24px;
$font-size-small: 20px;

$gutter: 20px;