//Branding
$purple: rgb(131, 28, 84);
$blue: rgb(100, 197, 219);
$green: rgb(168,200, 55);
$yellow: rgb(232, 227, 154);
$white: rgb(255, 255, 255);
$gray: rgb(235, 235, 235);
$grey: $gray;
$black: rgb(54, 54, 54);

$font-sans-serif: Raleway, Calibri, Arial, sans serif;

$gutter: 20px;