/* entire container, keeps perspective */
.flip-container {
	@include perspective(1000);
	@include transform(perspective(1000px));
	@include transform-style(preserve-3d);
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateX(180deg);
		//transform: rotateX(180deg);
	}

/* flip speed goes here */
.flipper {
	@include transition(0.6s);
	@include transform-style(preserve-3d);

	-moz-transform: perspective(1000px);
	transform: perspective(1000px);

	position: relative;
}

.front,
.back {
	@include backface-visibility(hidden);
	@include transition(0.6s);
	@include transform-style(preserve-3d);
	@include transform(rotateX(0deg));

	// position: absolute;
	// top: 0;
	// left: 0;
}

/* hide back of pane during swap */
.back {
	position: absolute;
	top: 0;
	left: 0;

    height: 100%;
    width: 100%;

    //back, initially hidden pane
	//transform: rotateX(180deg);

	@include transform(rotateX(-180deg));
}

/* front pane, placed above back */
.front {
	//-webkit-backface-visibility: hidden;
	//z-index: 2;
	/* for firefox 31 */
	//transform: rotateX(0deg);

	@include transform(rotateX(0deg));
	
	z-index: 2;
}