.cta {
    display: inline-block;
    
    border: $blue solid $typecsset-magic-number / 3;
    padding: 1rem;

    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}