.flex-section {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    @include align-content(stretch);

    height: 100%;
    width: 100%;

    .one-whole,
    .palm--one-whole {
        width: 100%;
    }

    .one-half,
    .palm--one-half {
        width: 50%;
    }

    .one-quarter,
    .palm--one-quarter {
        width: 25%;
    }

    &:not(.vertical) > * {
        margin-right: $gutter;

        &:last-child {
            margin-right: 0;
        }
    }

    &.no-gutter > * {
        margin-right: 0;
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.vertical {
        @include flex-flow(column nowrap);

        &.center {
            @include justify-content(center);
        }

        // .one-whole {
        //     height: 100%;
        //     width: inherit;
        // }

        // .one-half {
        //     height: 50%;
        //     width: inherit;
        // }

        // .one-quarter {
        //     height: 25%;
        //     width: inherit;
        // }
    }
        
    @include grid-media-query("palm") {
        &.palm--stack {
            @include flex-direction(column);

            &.reverse {
                @include flex-direction(column-reverse);
            }
        }
    }
}