.flex-section {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    @include align-content(stretch);

    height: 100%;
    width: 100%;

    .one-whole {
        width: 100%;
    }

    .one-half {
        width: 50%;
    }

    .one-quarter {
        width: 25%;
    }

    &.vertical {
        @include flex-flow(column nowrap);

        &.center {
            @include justify-content(center);
        }

        // .one-whole {
        //     height: 100%;
        //     width: inherit;
        // }

        // .one-half {
        //     height: 50%;
        //     width: inherit;
        // }

        // .one-quarter {
        //     height: 25%;
        //     width: inherit;
        // }
    }
}