.fsBody .fsForm {
    background-color: transparent !important;
}

.fsBody.fsEmbed {
    margin: 0 auto;

    @include grid-media-query("portable") {
        max-width: 90%;
    }
}

.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
    color: #FFF !important;
}

.fsBody .fsForm .fsLabel {
    display: block;

    color: $green !important;
    font-size: 1.25rem !important;
    margin-bottom: 0.5rem;
}

.fsHidden,
.fsCounter,
.hidden {
    display: none;
}

input[type="text"],
textarea {
    border: 2px solid $purple !important;
    border-radius: 4px;
    font-size: 1.25rem;
    font-family: $font-sans-serif;

    width: 100%;
}

input[type="submit"] {
    -webkit-appearance: none;

    @extend .cta;
    
    border-color: $purple;
    background-color: transparent;
    @include typecsset-font-size($font-size-normal);
    cursor: pointer;

    // border: 2px solid $purple !important;
    // border-radius: 4px;
    // padding: .25rem;

    // color: #FFF;
    // font-size: 1.25rem;

}

.fs-ngdialog {
    display: none;
} 