.video {
    .logo {
        height: 66vh;
        max-width: 90vw;
    }
}

.stories {
    background: $purple;
    background-image: url(../images/groups/stories/word-bubble-1.svg), none;
}

.social {
    background: $green;
}

.why {
    background: $gray;
    color: $black;
}