.group-title {
    max-width: 50%;
}

.video {
    .logo {
        height: 40vh;
        max-width: 90vw;
    }

    .play-button {
        height: 40vh;
        max-width: 90vw;
    }
}

.stories {
    background:  $purple url(../images/groups/stories/word-bubble-3.svg) no-repeat fixed 48vw -16vh;

    &__card-wrapper {
        padding: 1em;
    }

    &__card {
        padding: 1em;

        &.white {
            background: $white;
        }

        &.green {
            background: $green;
        }

        &.blue {
            background: $blue;
        }
    }
}

.social {
    background: $green;
}

.why {
    background: $gray;
    color: $black;
}