.group-title {
    max-width: 50%;
}

.video {
    .logo {
        height: 40vh;
        max-width: 90vw;
    }

    .play-button {
        height: 40vh;
        max-width: 90vw;
    }
}

.stories {
    background: $purple url(../images/groups/stories/word-bubble-3.svg) no-repeat scroll 48vw -16vh;

    &__cards {
        @include grid-media-query("portable") {
            margin-left: -1em;
            width: calc(100% + 1em);
        }
    }

    &__card {
        margin: 1rem;
        padding: 1rem;

        cursor: pointer;

        @include flexbox;
        @include flex-flow(column nowrap);
        @include justify-content(center);

        &.white {
            background: $white;
            color: $green;
        }

        &.green {
            background: $green;
            color: $white;
        }

        &.blue {
            background: $blue;
            color: $white;
        }
    }
}

.social {
    background: $blue url(../images/groups/social/hashtag.svg) no-repeat scroll 16vw 0;
    background-size: 50vh 50vw;
}

.why {
    background: $gray;
    color: $black;
}