.modal {
    background: rgba($black, .9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    overflow: hidden;

    height: 100vh;
    width: 100vw;

    opacity: 1;
    transition: opacity linear 0.5s;

    &.ng-hide {
        opacity: 0;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;

    padding: 3rem;

    color: $blue;
    font-size: 2.5rem;

    cursor: pointer;

    @include grid-media-query("portable") {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.locked {
    max-height: 100vh;
    max-width: 100vw;

    overflow: hidden;
}