.modal {
    background: rgba($black, .8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    overflow: hidden;

    height: 100vh;
    width: 100vw;
       
    animation: 0.5s myChange2;

    &.ng-hide {
        animation: 0.5s myChange;
    }
}

@keyframes myChange {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes myChange {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;

    padding: 3rem;

    color: $blue;
    font-size: 2.5rem;

    cursor: pointer;

    @include grid-media-query("portable") {
        padding: 1rem;
    }
}

.locked {
    max-height: 100vh;
    max-width: 100vw;

    overflow: hidden;
}