.object-cover {
    object-fit: cover; 
    object-position: top center; 

    height: 100%;
    width: 100%; 
}

.content-wrapper {
    padding: 4rem;

    @include grid-media-query("palm") {
        padding: 3rem 10px;

        max-width: 100vw;
        overflow-x: hidden;
    }
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.add-bottom-margin {
    margin-bottom: 2em;
}

.center-by-margin {
    margin-left: auto;
    margin-right: auto;
}