.object-cover {
    object-fit: cover; 
    object-position: top center; 

    height: 100%;
    width: 100%; 
}

.content-wrapper {
    padding: 4rem;

    @include grid-media-query("palm") {
        padding: 1rem 10px;
    }
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}