.square {
    position: relative;
    
    padding-left: 0;
    margin-left: 24px;

    & > div {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        border-radius: inherit;
    }

    &:before {
        content: "";
        display: block;
        margin-top: 100%; /* initial ratio of 1:1*/
    }
}