body {
    font-family: $font-sans-serif;
    color: $white;
}

.bold {
    font-weight: 800;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    @include typecsset-font-size(24px);
    
    text-transform: uppercase;
    color: $black;
}