body {
    font-family: $font-sans-serif;
    color: $white;
}

.bold {
    font-weight: 800;
}

.uppercase {
    text-transform: uppercase;
}

.text-black {
    color: $black;
}

.large-text {
    @include typecsset-font-size($font-size-large);
}

.normal-text {
    @include typecsset-font-size($font-size-normal);
}
    .portable--normal-text {
        @include grid-media-query("portable") {
            @include typecsset-font-size($font-size-normal);
        }
    }

.small-text {
    @include typecsset-font-size($font-size-small);
}

.limit-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.center {
    text-align: center;
}

.right-justify {
    text-align: right;
}
