@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
#BOX-SIZING
\*------------------------------------*/
/**
* Set the global `box-sizing` state to `border-box`.
*
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
* paulirish.com/2012/box-sizing-border-box-ftw
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base elementΓÇÖs `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your projectΓÇÖs
 *    base font size.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [2] */ }

body {
  margin: 0; }

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1; }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesnΓÇÖt need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */ }

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
  text-indent: -0.41em;
  /* [1] */ }

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using ΓÇ£, ΓÇ¥, ΓÇÿ, and ΓÇÖ quotes.
 */
blockquote {
  quotes: "ΓÇ£" "ΓÇ¥";
  margin-left: 48px;
  margin-left: 3rem; }
  blockquote p:before {
    content: "ΓÇ£";
    content: open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "ΓÇ¥";
    content: close-quote; }

q {
  quotes: "ΓÇÿ" "ΓÇÖ" "ΓÇ£" "ΓÇ¥";
  /**
   * If an element opens with an inline quote, letΓÇÖs hang that.
   */ }
  q:before {
    content: "ΓÇÿ";
    content: open-quote; }
  q:after {
    content: "ΓÇÖ";
    content: close-quote; }
  q q:before {
    content: "ΓÇ£";
    content: open-quote; }
  q q:after {
    content: "ΓÇ¥";
    content: close-quote; }
  q:first-child {
    display: inline-block;
    text-indent: -0.22em; }

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 12px; }

/*------------------------------------*\
$MIXINS
\*------------------------------------*/
/**
* Define your breakpoints. The first value is the prefix that shall be used for
* your classes (e.g. `.palm--one-half`), the second value is the media query
* that the breakpoint fires at.
*/
/**
* These mixins are for the library to use only, you should not need to modify
* them at all.
*
* Enclose a block of code with a media query as named in `$breakpoints`.
*/
@media only screen and (min-width: 1024px) {
  .desk--hide {
    display: none; } }
@media only screen and (max-width: 1023px) {
  .portable--hide {
    display: none; } }
@media only screen and (max-width: 480px) {
  .palm--hide {
    display: none; } }
@media only screen and (min-width: 1024px) {
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%; }
    .parallax__group {
      position: relative;
      height: 100%;
      transform-style: preserve-3d; }
    .parallax__layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-perspective-origin: 100%;
      perspective-origin-x: 100%; }
      .parallax__layer--fore {
        transform: translateZ(0);
        z-index: 1; }
      .parallax__layer--base {
        transform: translateZ(0);
        z-index: 4; }
      .parallax__layer--back {
        transform: translateZ(-1px) scale(2);
        z-index: 3;
        left: -8px; }
      .parallax__layer--deep {
        transform: translateZ(-600px) scale(3);
        z-index: 2; } }

.flex-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }
  .flex-section .one-whole {
    width: 100%; }
  .flex-section .two-thirds {
    width: 66%; }
  .flex-section .one-half {
    width: 50%; }
  .flex-section .one-third {
    width: 33%; }
  .flex-section .one-quarter {
    width: 25%; }
  @media only screen and (max-width: 1023px) {
    .flex-section .portable--one-whole {
      width: 100%; }
    .flex-section .portable--two-thirds {
      width: 66%; }
    .flex-section .portable--one-half {
      width: 50%; }
    .flex-section .portable--one-third {
      width: 33%; }
    .flex-section .portable--one-quarter {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    .flex-section .palm--one-whole {
      width: 100%; }
    .flex-section .palm--two-thirds {
      width: 66%; }
    .flex-section .palm--one-half {
      width: 50%; }
    .flex-section .palm--one-third {
      width: 33%; }
    .flex-section .palm--one-quarter {
      width: 25%; } }
  .flex-section:not(.vertical) > * {
    margin-right: 20px; }
    .flex-section:not(.vertical) > *:last-child {
      margin-right: 0; }
  .flex-section.no-gutter > * {
    margin-right: 0; }
  .flex-section.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex-section.vertical {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    .flex-section.vertical.center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
  @media only screen and (max-width: 1023px) {
    .flex-section.palm--stack {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .flex-section.palm--stack.reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
      .flex-section.palm--stack > * {
        margin-right: 0; } }

.nav-icons {
  padding: 1rem;
  height: 20vh;
  width: 33%;
  text-align: center; }
  .nav-icons ul {
    margin-left: 0; }
    .nav-icons ul li {
      display: inline-block;
      width: 32%; }

.nav-icon {
  width: 8vmin; }

.group-title {
  max-width: 50%; }

.video .logo {
  height: 40vh;
  max-width: 90vw; }
.video .play-button {
  height: 40vh;
  max-width: 90vw; }

.stories {
  background: #831c54 url(../images/groups/stories/word-bubble-3.svg) no-repeat scroll 48vw -16vh; }
  @media only screen and (max-width: 1023px) {
    .stories__cards {
      margin-left: -1em;
      width: calc(100% + 1em); } }
  .stories__card {
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .stories__card.white {
      background: white;
      color: #a8c837; }
    .stories__card.green {
      background: #a8c837;
      color: white; }
    .stories__card.blue {
      background: #64c5db;
      color: white; }

.social {
  background: #64c5db url(../images/groups/social/hashtag.svg) no-repeat scroll 16vw 0;
  background-size: 50vh 50vw; }

.why {
  background: #ebebeb;
  color: #363636; }

.square {
  position: relative;
  padding-left: 0; }
  .square > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit; }
  .square:before {
    content: "";
    display: block;
    margin-top: 100%;
    /* initial ratio of 1:1*/ }
  .square.ratio2_1:before {
    margin-top: 50%; }

.cta {
  display: inline-block;
  border: #a8c837 solid 8px;
  padding: 1rem;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none; }

body {
  font-family: Raleway, Calibri, Arial, sans serif;
  color: white; }

.bold {
  font-weight: 800; }

.uppercase {
  text-transform: uppercase; }

.text-black {
  color: #363636; }

.large-text {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

.normal-text {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

.small-text {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

.limit-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.right-justify {
  text-align: right; }

.object-cover {
  object-fit: cover;
  object-position: top center;
  height: 100%;
  width: 100%; }

.content-wrapper {
  padding: 4rem; }
  @media only screen and (max-width: 480px) {
    .content-wrapper {
      padding: 3rem 10px;
      max-width: 100vw;
      overflow-x: hidden; } }
  .content-wrapper.lock-width {
    max-width: 60rem; }

.full-height {
  height: 100%; }

.half-height {
  height: 50%; }

.add-bottom-margin {
  margin-bottom: 2em; }

.center-by-margin {
  margin-left: auto !important;
  margin-right: auto !important; }

.modal {
  background: rgba(54, 54, 54, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  padding: 3rem;
  color: #64c5db;
  font-size: 2.5rem;
  cursor: pointer; }
  @media only screen and (max-width: 1023px) {
    .modal-close {
      padding: 1rem; } }

.locked {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden; }

.fsBody .fsForm {
  background-color: transparent !important; }

.fsBody.fsEmbed {
  margin: 0 auto; }
  @media only screen and (max-width: 1023px) {
    .fsBody.fsEmbed {
      max-width: 90%; } }

.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
  color: #FFF !important; }

.fsBody .fsForm .fsLabel {
  display: block;
  color: #a8c837 !important;
  font-size: 1.25rem !important;
  margin-bottom: 0.5rem; }

.fsHidden,
.hidden {
  display: none; }

input[type="text"],
textarea {
  border: 2px solid #831c54 !important;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: Raleway, Calibri, Arial, sans serif;
  width: 100%; }

input[type="submit"] {
  background: #831c54;
  border: 2px solid #831c54 !important;
  border-radius: 4px;
  padding: .25rem;
  color: #FFF;
  font-size: 1.25rem; }

.fs-ngdialog {
  display: none; }

.tagboard-embed {
  margin: 0 auto;
  /*height: 95vh;*/
    /*max-width: 40vw;

    @include grid-media-query("portable") {
        max-width: 100%;
    }*/ }

/*# sourceMappingURL=styles.css.map */
